.container {
  background-color: rgba(#000, $alpha: .1);
  padding: 0px 0px;
  margin: 0 auto;
  width: 320px;
  border-radius: 3px;
  height: calc(100vh - 0px);
  max-height: calc(100vh - 0px);
  display: flex;
  flex-direction: column;
}