.btn {
  height: 50px;
  width: 100%;
  background-color: rgb(255, 152, 152);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 300 !important;
  font-size: 20px;
  outline: none;
}